@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply text-base text-slate-800;
  }
  /* Hoặc dùng CSS variable */
  :root {
    font-size: 16px; /* 1rem = 16px, thay đổi ở đây ảnh hưởng toàn bộ */
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input::-webkit-credentials-auto-fill-button,
input::-webkit-password-auto-fill-button {
  display: none !important;
}
